<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Spring Core Online Tutorial</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <link href="../static/css/spring-core.css"
          th:href="@{css/spring-core.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<div class="container">
    <h1>Ideal Partner Wishlist!</h1>

    <h2>This Webapp can be used to help you figure out what your ideal partner is.</h2>

    <h3> Begin by thinking about the aspects of your life that you look forward to sharing with a partner and the way you would like to feel in his or her presence. Here are some specific questions that will help you create and refine your list:

        How would I like to feel when I wake up in the morning next to my soulmate?

        What kind of lifestyle will we lead? Are you both workaholics or couch potatoes or a combination of the two?

        How do we spend our weekends? Hiking local trails, taking in movies or cultural events, or hanging out around the house?

        Do we have or want children—and, are you willing to accept someone else’s children into your life?

        Telling the Universe the characteristics you are looking for in a soulmate is similar to typing a key word into an online search engine. The more specific you are, the greater the chances that your search will yield you exactly what you’re looking for.</h3>
    <ul>
        <li><a href="/partner/new">Let's Add Some Attributes to your ideal partner!</a></li>
    </ul>

</div>

</body>
</html>